.biwhl { 
  border-bottom-width: 82px;
  line-height: 25px;
  padding-right: 17px;
  margin-right: 4px;
  padding-bottom: 18px;
  font-size: 54px;
  border-top-width: 60px;
  margin-right: 99px;
  border-right-width: 48px;
  padding-left: 17px;
  border-left-width: 29px;
}
