.biwhl { 
  border-bottom-width: 82px;
  line-height: 25px;
  padding-right: 17px;
  margin-right: 4px;
  padding-bottom: 18px;
  font-size: 54px;
  border-top-width: 60px;
  margin-right: 99px;
  border-right-width: 48px;
  padding-left: 17px;
  border-left-width: 29px;
  padding-bottom: 18px;
  font-size: 5px;
  margin-top: 67px;
  margin-bottom: 73px;
  padding-bottom: 57px;
  margin-left: 53px;
  margin-right: 50px;
  margin-bottom: 48px;
  padding-bottom: 53px;
  margin-bottom: 26px;
  margin-right: 94px;
  padding-right: 15px;
  font-size: 71px;
  margin-bottom: 92px;
}
